.header
  ul
    padding-left: 0
    li
      text-decoration: none
      display: inline-block
      padding-left: ms(0)
      padding-right: ms(0)
      +target(md)
        padding-right: 0
      a
        font-weight: 600
        text-decoration: none
        color: $red
        transition: 200ms
        &.active,
        &:hover
          text-decoration: none
          border-bottom: ms(-8) solid $red
  .logo
    text-decoration: none
    font-size: ms(1)
