extends layout

block title
  title xBellwether Coffee. Stay close to your roast.
  
  block seo
    meta( name="description", content="About - Bellwether is a crazy coffee industry professionals, designers, mad scientists and engineers seeking a better understanding of what amazing coffee is made of. We’re taking a balanced approach with research and technology to empower the wise and aspiring artists within the coffee universe.")
    meta( name="keywords", content="coffee; coffee roaster; coffee roaster mobile; coffee farm platform;")

block settings
  - var slug = "about"
  - var page = "About"

block content
  .red-bg
    .container
      .pad-large
        .row
          .col-xs-12.white-txt
            h1 Empowering the coffee world from producer to consumer.
            p.large Headquartered in the Bay Area, our team is a group of creative coffee industry professionals, designers, mad scientists and engineers seeking a better understanding of what amazing coffee is made of. 
            p.large We’re taking a balanced approach with research and technology to empower the wise and aspiring artists within the coffee universe. And having fun while we do it because laughter is almost better than coffee... almost.
  .gray-bg
    .container
      .pad-large
        .row
          .col-xs-12
            h2 Our Team.
        .row.middle-xs.pad-small
          .col-md-6.col-xs-12.m-b-md-4.m-b-xs-2
            h3.m-b-xs-0 Ricardo Lopez 
            p.red-txt Co-founder & CEO
          .col-md-6.col-xs-12.m-b-md-4.m-b-xs-2
            h3.m-b-xs-0 Gabe Boscana
            p.red-txt Director of Coffee
          .col-md-6.col-xs-12.m-b-md-4.m-b-xs-2
            h3.m-b-xs-0 Izzy Fraire
            p.red-txt Head Roaster
          .col-md-6.col-xs-12.m-b-md-4.m-b-xs-2
            h3.m-b-xs-0 Kimberly Ward
            p.red-txt Head of Design
          .col-md-6.col-xs-12.m-b-md-4.m-b-xs-2
            h3.m-b-xs-0 Dani Goot
            p.red-txt Head of Coffee Strategy & Development
          .col-md-6.col-xs-12.m-b-md-4.m-b-xs-2
            h3.m-b-xs-0 John Sandhu
            p.red-txt Head of Engineering
          .col-md-6.col-xs-12.m-b-md-4.m-b-xs-2
            h3.m-b-xs-0 Decker Rolph
            p.red-txt Head of Impact Strategy
