extends layout

block title
  title title Bellwether Coffee. Stay close to your roast.
  
  block seo
    meta( name="description", content="Pana is a real-time virtual travel agent and mobile travel assistant, blending real humans and smart tech to make your next vacation or business trip easy.")
    meta( name="keywords", content="travel assistant; travel agent; virtual travel assistant; virtual travel agent; online travel agent; virtual assistant; online assistant; pana travel agent; mobile travel agent; mobile travel assistant")

block settings
  - var slug = "home"
  - var page = "Home"

block content
  .container
    .pad-ends
      .row
        .col-xs-12.center-text-xs
          h1 Hi!
          h3 I'm gonna be a contact page after lunch.
