extends layout

block title
  title title Bellwether Coffee. Stay close to your roast.
  
  block seo
    meta( name="description", content="Contact - Bellwether is a crazy coffee industry professionals, designers, mad scientists and engineers seeking a better understanding of what amazing coffee is made of. We’re taking a balanced approach with research and technology to empower the wise and aspiring artists within the coffee universe.")
    meta( name="keywords", content="coffee; coffee roaster; coffee roaster mobile; coffee farm platform;")

block settings
  - var slug = "home"
  - var page = "Home"

block content
  .container
    .pad-ends
      .row
        .col-xs-12.center-text-xs
          h1 Hi!
          h3 I'm gonna 
