extends layout

block settings
  - var slug = "home"
  - var page = "Home"

block content
  .container
    .pad-ends
      .row
        .col-md-8.col-md-offset-2.col-xs-12
          img.full-img( src='/images/assets/hero-bw.png' )
