extends layout

block title
  title title Bellwether Coffee. Stay close to your roast.
  
  block seo
    meta( name="description", content="Home - Bellwether is a crazy coffee industry professionals, designers, mad scientists and engineers seeking a better understanding of what amazing coffee is made of. We’re taking a balanced approach with research and technology to empower the wise and aspiring artists within the coffee universe.")
    meta( name="keywords", content="coffee; coffee roaster; coffee roaster mobile; coffee farm platform;")

block settings
  - var slug = "home"
  - var page = "Home"

block content
  .container.pad-large
    .row
      .col-xs-12.center-text-xs
        h2.upper.type-cc-3d bellwether
        h3.upper.type-cc coffee co.
    .row
      .col-xs-12.center-text-xs
        h3.red-txt Commited to the betterment of coffee.
  .green-bg.mission-section
    .container
      .pad-large
        .row.middle-xs
          .col-md-4.col-xs-12.white-txt.m-b-md-0.m-b-xs-2
            h2.underline-col Our Mission.
          .col-md-8.col-xs-12.white-txt
            p.p-l-md-2.p-l-xs-0 Bellwether exists to empower and better the coffee world from farm to cup by providing the highest quality sustainably curated green and roasted coffee and the newest technology in coffee roasting. We're striving to build the inevitable connected and relevant future of coffee roasting.
