extends layout

block settings
  - var slug = "home"
  - var page = "Home"

block content
  .container
    .pad-ends
      .row
        .col-xs-12.center-text-xs
          h1.upper.type-cc-3d bellwether
          h3.upper.type-cc coffe co.
